/* /Pages/Index.razor.rz.scp.css */
.main-container[b-owr38nn4zl] {

}
/* /Shared/Components/DescriptionDisplay.razor.rz.scp.css */
.description-container[b-8pei57ak8i] {
    padding: 30px;
    padding-top: 50px;
}

.description-title-container[b-8pei57ak8i] {
    padding-bottom: 0;
}

.description-content-container[b-8pei57ak8i] {
    font-size: 1.2em;
    padding-top: 20px;
}

.description-keywords-container[b-8pei57ak8i] {
    font-size: 1em;
    padding-top: 20px;
}
/* /Shared/Components/ImagesDisplay.razor.rz.scp.css */
.image-container[b-ktzjl2951b] {
    width: 600px;
    height: 500px;
    position: relative;
}

.image[b-ktzjl2951b] {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 500px;
}

.previous-button[b-ktzjl2951b],
.next-button[b-ktzjl2951b] {
    z-index: 2;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    border: none;
    cursor: pointer;
}

    .previous-button span[b-ktzjl2951b],
    .next-button span[b-ktzjl2951b] {
        font-weight: bold;
        opacity: 0.5;
        font-size: 100px;
        padding-top: 200px;
        padding-bottom: 200px;
    }

        .previous-button span:hover[b-ktzjl2951b],
        .next-button span:hover[b-ktzjl2951b] {
            opacity: 1;
        }

.previous-button[b-ktzjl2951b] {
    left: 0;
}

.next-button[b-ktzjl2951b] {
    right: 0;
}
/* /Shared/Components/ProjectSection.razor.rz.scp.css */
.section-container[b-g9x6atsca1] {
    border-radius: 30px;
}

.content-container[b-g9x6atsca1] {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 2em;
}
/* /Shared/Components/VideoDisplay.razor.rz.scp.css */
.video-content[b-xsrojey8of] {
    border-radius: 20px;
    width: 600px;
    height: 500px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-p5w95znwby] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-p5w95znwby] {
    flex: 1;
}

.sidebar[b-p5w95znwby] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-p5w95znwby] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-p5w95znwby]  a, .top-row[b-p5w95znwby]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-p5w95znwby]  a:hover, .top-row[b-p5w95znwby]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-p5w95znwby]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-p5w95znwby] {
        display: none;
    }

    .top-row.auth[b-p5w95znwby] {
        justify-content: space-between;
    }

    .top-row[b-p5w95znwby]  a, .top-row[b-p5w95znwby]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-p5w95znwby] {
        flex-direction: row;
    }

    .sidebar[b-p5w95znwby] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-p5w95znwby] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-p5w95znwby]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-p5w95znwby], article[b-p5w95znwby] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-27zdaannrf] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-27zdaannrf] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-27zdaannrf] {
    font-size: 1.1rem;
}

.oi[b-27zdaannrf] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-27zdaannrf] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-27zdaannrf] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-27zdaannrf] {
        padding-bottom: 1rem;
    }

    .nav-item[b-27zdaannrf]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-27zdaannrf]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-27zdaannrf]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-27zdaannrf] {
        display: none;
    }

    .collapse[b-27zdaannrf] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-27zdaannrf] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
